:root {
    --background-url: url("https://raw.githubusercontent.com/cryxep/shiki/refs/heads/main/bg2.png");
    --avatar-size: 220px;
    --avatar-shadow: #fff;
    --font-family: "Arial", sans-serif;
}


body {
    background: var(--background-url) no-repeat center top fixed;
    background-size: cover;
}


.l-page {
    background-color: #cecece;
    box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.1);
    margin-top: 16px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding: 30px;
    color: #000;
    content: "";
}

.p-profiles.p-profiles-show .l-page {
    margin-top: 200px;
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .l-page {
        padding: 10px !important;
    }
}

.p-profiles .profile-head .c-info .c-additionals,
.p-profiles .profile-head .c-mobile-actions,
.p-profiles .profile-head .c-history,
.p-profiles-show .profile-content .cc-2 > .c-column,
.midheadline, 
.b-shiki_editor footer .about-bb_codes {
    display: none !important;
}

.p-profiles header.head .misc:after {  
  display: none !important;
}

.p-profiles header.head .misc {
  font-size: 0px; 
}

.p-profiles .profile-head .c-brief {
    position: relative;
    margin-top: -170px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-profiles .profile-head .c-brief .avatar {
    margin: 0;
    max-width: none;
    float: none;
    position: relative;
}

.p-profiles .profile-head .c-brief .avatar img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #2c86cc;
    transition: 0.2s ease-out;
    animation: glowEffect 1.5s infinite alternate;
}

@keyframes glowEffect {
    0% { box-shadow: 0 0 10px 2px #2c86cc; }
    50% { box-shadow: 0 0 25px 8px rgba(44, 134, 204, 0.5); }
    100% { box-shadow: 0 0 10px 2px #2c86cc; }
}

.p-profiles .profile-head .c-brief header h1 {
    display: block;
    text-align: center;
    font-size: 64px;
    font-family: var(--font-family);
    margin-bottom: 4px;
    color: #000;
}

.b-form input[type=submit], .b-button {
    background-color: #000;
}

.b-form input[type=submit]:hover, .b-button:hover {
    background-color: #333;
}

html[data-color-mode=light] {
    --icon-color: #000;
    --link-color: #000;
    --link-hover-color: #2c86cc;
}

a {
    color: var(--link-color);
    text-decoration: none;
    position: relative;
}

a:hover {
    color: var(--link-hover-color);
}

a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--link-hover-color);
    animation: underlineEffect 0.3s ease-in-out;
}

@keyframes underlineEffect {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.c-lists-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.b-stats_bar {
    width: 48%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #bdbdbddb;
    color: white;
}

.b-stats_bar .stat_names .stat_name a {
  color: #000;
  text-decoration: none;
  position: relative;
}

.b-stats_bar .stat_names .stat_name a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2c86cc;
  animation: underlineEffect 0.3s ease-in-out;
}

.headline, .midheadline, .subheadline {
  border-left: 5px solid #2c86cc;
}

.b-stats_bar.anime .bar .first {
  background: #6295bd;
}

.b-stats_bar.anime .bar .second {
  background: #98c2e3;
}

.b-stats_bar .bar .third {
  background: #b3d7f2;
}

.b-stats_bar.manga .bar .first {
  background: #6295bd;
}

.b-stats_bar.manga .bar .second {
  background: #98c2e3;
}

.b-stats_bar .bar .third {
  background: #b3d7f2;
}
